<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*@thymesVar id="UserDTO" type="com.example.warszterp.dto.UserDTO"*/-->
    <!--/*@thymesVar id="UserDTO" type="com.example.warszterp.dto.RepairDto"*/-->
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:insert="header.html">
</header>

<div class="container justify-content-center">

    <div class="row justify-content-center">
        <h5>Karta przyjęcia pojazdu na warsztat | <a th:href="@{/car/acceptance/edit(id=${data.repairId})}">Edytuj dokument</a> </h5>
        <hr class="my-5">
    </div>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <table class="table">
                <thead>
                <tr class="text-center"><h3>Dane karty przyjęcia pojazdu</h3></tr>
                <tr>
                    <th style="font-weight: bold">Numer zlecenia</th>
                    <th style="font-weight: bold">Data przyjęcia</th>
                    <th style="font-weight: bold">Data odbioru</th>
                    <th style="font-weight: bold">Koszt naprawy</th>
                    <th style="font-weight: bold">Uwagi klienta</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${data.acceptanceNumber}"></td>
                    <td th:text="${data.dateOfAdmission}"></td>
                    <td th:text="${data.dataOfPickup}"></td>
                    <td th:text="${data.estimatedRepairCost}"></td>
                    <td th:text="${data.scopeOfWork}"></td>
                </tr>

                </tbody>
            </table>

        </div>
    </div>
    <hr class="my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <table class="table">
                <thead>
                <tr><h3>Dane klienta</h3></tr>
                <tr>
                    <th style="font-weight: bold">Imie</th>
                    <th style="font-weight: bold">Nazwisko</th>
                    <th style="font-weight: bold">Firma</th>
                    <th style="font-weight: bold">Telefon</th>
                    <th style="font-weight: bold">Adres</th>
                    <th style="font-weight: bold">Numer domu</th>
                    <th style="font-weight: bold">Miasto</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${data.firstName}"></td>
                    <td th:text="${data.surname}"></td>
                    <td th:text="${data.company}"></td>
                    <td th:text="${data.phoneNumber}"></td>
                    <td th:text="${data.street}"></td>
                    <td th:text="${data.houseNumber}"></td>
                    <td th:text="${data.city}"></td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
    <hr class="my-5">

    <div class="row justify-content-center">
        <div class="col-md-8">
            <table class="table">
                <thead>
                <tr><h3>Dane pojazdu</h3></tr>
                <tr>
                    <th style="font-weight: bold">Numer rejest.</th>
                    <th style="font-weight: bold">Numer VIN.</th>
                    <th style="font-weight: bold">Marka</th>
                    <th style="font-weight: bold">Model</th>
                    <th style="font-weight: bold">Rok prod.</th>
                    <th style="font-weight: bold">Typ paliwa</th>
                    <th style="font-weight: bold">Typ nadwozia</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${data.plateNumber}"></td>
                    <td th:text="${data.vinNo}"></td>
                    <td th:text="${data.make}"></td>
                    <td th:text="${data.model}"></td>
                    <td th:text="${data.year}"></td>
                    <td th:text="${data.fuel}"></td>
                    <td th:text="${data.type}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>



<footer th:insert="footer.html" class="mt-5"></footer>
</body>
</html>