<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*@thymesVar id="UserDTO" type="com.example.warszterp.dto.UserDTO"*/-->
    <meta charset="UTF-8">
    <title>Add car</title>
</head>
<body>
<header th:insert="header.html"></header>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-sm-12">
            <p><a th:href="@{/main}">Powrót do panelu głównego</a></p>
            <form action="#" th:action="@{/admin/car/add}" method="post" th:object="${car}">
                <input th:field="*{id}" hidden="true">

                <label for="owner">Właściciel</label>
                <select class="browser-default custom-select" id="owner" name="owner">
                    <option th:each="owner:${users}"
                            th:value="${owner.id}"
                            th:text="${owner.firstName + ' ' + owner.surname}"></option>
                </select><br>

                <div class="md-form">
                <label for="plate-number">Numer rej.</label>
                <input id="plate-number" class="form-control" type="text" th:field="*{plateNumber}">
                <p th:if="${#fields.hasErrors('plateNumber')}" th:errors="*{plateNumber}"></p><br>
                </div>

                <div class="md-form">
                <label for="vin-no">Numer VIN</label>
                <input id="vin-no" class="form-control" type="text" th:field="*{vinNo}">
                <p th:if="${#fields.hasErrors('vinNo')}" th:errors="*{vinNo}"></p><br>
                </div>

                <div class="md-form">
                <label for="make">Producent</label>
                <input id="make" type="text" class="form-control" th:field="*{make}">
                <p th:if="${#fields.hasErrors('make')}" th:errors="*{make}"></p><br>
                </div>

                <div class="md-form">
                <label for="model">Model</label>
                <input class="form-control" id="model" type="text" th:field="*{model}">
                <p th:if="${#fields.hasErrors('model')}" th:errors="*{model}"></p><br>
                </div>

                <div class="md-form">
                <label for="year">Rok produkcji</label>
                <input id="year" class="form-control" type="text" th:field="*{year}">
                <p th:if="${#fields.hasErrors('year')}" th:errors="*{year}"></p><br>
                </div>

                <label for="type">Typ nadwozia</label>
                <select class="browser-default custom-select" name="type" id="type">
                    <option th:each="type : ${types}"
                            th:value="${type}"
                            th:text="${type}"></option>
                </select><br>


                <label for="fuel">Typ paliwa</label>
                <select id="fuel" name="fuel" class="browser-default custom-select">
                    <option th:each="fuel : ${fuels}"
                            th:value="${fuel}"
                            th:text="${fuel}">
                    </option>
                </select><br>
                <button value="submit" class="btn btn-primary" type="submit">Zapisz</button>
            </form>
        </div>
    </div>
</div>

<footer th:insert="footer.html" class="mt-5"></footer>
</body>
</html>