<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodaj zdjęcie</title>
    <!--/*@thymesVar id="UserDTO" type="com.example.warszterp.dto.RepairDto"*/-->
    ​
</head>
<body>
<header th:insert="header.html"></header>
​
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1>Photo for order number: </h1><span th:text="${id}"></span>
            ​
            <h2>Add a new photo</h2>
            <div>
                <form enctype="multipart/form-data" method="post" th:action="@{/car/photo/add/{id}(id=${id})}">
                    <p>
                        Add photo: <input th:type="file" name="file"/>
                    </p>
                    <p>
                        <input type="submit" value="Upload"/>
                    </p>
                </form>
                <!--                <th:block th:if="${not empty photo}">-->
                <!--                    <p style="color:red">${photo}</p>-->
                <!--                </th:block>-->
            </div>
            <h2>Photo list</h2>
            <table>
                <tr>
                    <th style="font-weight: bold">#</th>


                </tr>
                ​
                <tr th:each="file:${files}">
                    <td th:text="${files.indexOf(file)+1}"></td>


                    <td> <img th:src="@{/car/photo/show/{id}(id=${file.id})}" style="width:200px; height:200px" alt="zdjecie"/>
                    </td>
                </tr>
                ​
            </table>
            ​
        </div>
    </div>
</div>
​
<footer th:insert="footer.html"></footer>
</body>
</html>