<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org/extras/dialect"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <!--/*@thymesVar id="UserDTO" type="com.example.warszterp.dto.UserDTO"*/-->
    <!--/*@thymesVar id="UserDTO" type="com.example.warszterp.dto.RepairDto"*/-->
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p><a th:href="@{/main}">Powrót do panelu głównego</a></p>
<div style="margin-top: 40px;">
    <table border="2">
        <thead>
        <tr>Pojazdy</tr>
        <tr>
            <th>#</th>
            <th>Numer rej.</th>
            <th>Marka</th>
            <th>Model</th>
            <th>Właściciel</th>
            <th>Status</th>
            <th sec:authorize="hasAnyRole('ROLE_ADMIN')">Akcje</th>
        </tr>
        </thead>
        <tbody>

        <th:block th:each="elem, iStat:${list}">
            <tr>
                <td th:text="${iStat.count}"></td>
                <td th:text="${elem.plateNumber}"></td>
                <td th:text="${elem.make}"></td>
                <td th:text="${elem.model}">${elem.model}</td>
                <td th:text="${elem.owner.surname} + ' ' + ${elem.owner.firstName}"></td>
                <td> - </td><br>
                <td sec:authorize="hasRole('ROLE_ADMIN')">
                    <a th:href="@{/admin/car/delete(id=${elem.id})}">usuń | </a>
                    <a th:href="@{/admin/car/edit(id=${elem.id})}">edytuj</a>
                </td>
            </tr>
            </th:block>

        </tbody>
    </table>
</div>
</body>
</html>