<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      >
<head>
    <!--/*@thymesVar id="UserDTO" type="com.example.warszterp.dto.UserDTO"*/-->
    <!--/*@thymesVar id="UserDTO" type="com.example.warszterp.dto.RepairDto"*/-->
    <meta charset="UTF-8">
    <title>Lista pojazdów</title>
</head>
<body>
<header th:insert="header.html"></header>
<div class="container">
    <div class="row justify-content-center">
        <p><a th:href="@{/main}">Powrót do panelu głównego</a></p>
        <br>
        <table class="table">
            <thead>
            <tr>Pojazdy</tr>
            <tr>
                <th style="font-weight: bold">#</th>
                <th style="font-weight: bold">Numer rej.</th>
                <th style="font-weight: bold">Marka</th>
                <th style="font-weight: bold">Model</th>
                <th style="font-weight: bold">Właściciel</th>
                <th style="font-weight: bold">Status</th>
                <th sec:authorize="hasAnyRole('ROLE_ADMIN')" style="font-weight: bold">Akcje</th>
            </tr>
            </thead>
            <tbody>

            <th:block th:each="elem, iStat:${list}">
                <tr>
                    <td th:text="${iStat.count}"></td>
                    <td th:text="${elem.plateNumber}"></td>
                    <td th:text="${elem.make}"></td>
                    <td th:text="${elem.model}">${elem.model}</td>
                    <td th:text="${elem.owner.surname} + ' ' + ${elem.owner.firstName}"></td>
                    <td> - </td><br>
                    <td sec:authorize="hasRole('ROLE_ADMIN')">
                        <a th:href="@{/admin/car/delete(id=${elem.id})}">usuń | </a>
                        <a th:href="@{/admin/car/edit(id=${elem.id})}">edytuj</a>
                    </td>
                </tr>
            </th:block>

            </tbody>
        </table>
    </div>
</div>



</body>
</html>