<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>


<!-- Footer -->
<footer class="page-footer font-small elegant-color footer">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="https://github.com/DanielTrosko">Daniel</a> | <a href="https://github.com/slaskww">Łukasz</a> | <a href="https://github.com/koralesky">Dominik</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
</body>
</html>