<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.9/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <meta charset="UTF-8">
</head>
<body>




<nav class="mb-1 navbar navbar-expand-lg navbar-dark elegant-color mb-5">
    <a class="navbar-brand" th:href="@{/}"><img th:src="@{image/logo.png}"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
            aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">Strona główna

                </a>
            </li>
            <li sec:authorize="hasAnyRole('ROLE_CLIENT', 'ROLE_EMPLOYEE', 'ROLE_ADMIN')" class="nav-item">
                <a class="nav-link" th:href="@{/main}">Menu</a>
            </li>

            <li sec:authorize="hasAnyRole('ROLE_EMPLOYEE', 'ROLE_ADMIN')" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Zlecenia
                </a>
                <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
                    <a class="dropdown-item" th:href="@{/car/acceptance/add}">Dodaj zlecenie</a>
                    <a class="dropdown-item" th:href="@{/car/acceptance/all}">Zlecenia</a>

                </div>
            </li>

            <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-33" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Admin Menu
                </a>
                <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-33">
                    <a th:href="@{/admin/user}" class="dropdown-item">Lista użytkowników</a>
                    <a th:href="@{/admin/user/add}" class="dropdown-item">Dodaj użytkownika</a>
                    <a th:href="@{/admin/car}" class="dropdown-item">Lista pojazdów</a>
                    <a th:href="@{/admin/car/add}" class="dropdown-item">Dodaj pojazd</a>
                    <a th:href="@{/admin/repairs}" class="dropdown-item">Lista napraw</a>
                </div>
            </li>

        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light" href="https://github.com/DanielTrosko/warsztERP">
                    <i class="fab fa-github fa-lg"></i>
                </a>
            </li>
            <li sec:authorize="!isAuthenticated()" class="nav-item dropdown" >
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-default"
                     aria-labelledby="navbarDropdownMenuLink-333">
                    <a class="dropdown-item" th:href="@{/login}">Login</a>
                </div>
            </li>

            <li class="nav-item dropdown" sec:authorize="hasAnyRole('ROLE_CLIENT', 'ROLE_EMPLOYEE', 'ROLE_ADMIN')">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-default"
                     aria-labelledby="navbarDropdownMenuLink-333">
                    <a class="dropdown-item" th:href="@{/signout}">Logout</a>
                </div>
            </li>


        </ul>
    </div>
</nav>






<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/js/mdb.min.js"></script>
</body>
</html>