<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*@thymesVar id="UserDTO" type="com.example.warszterp.dto.UserDTO"*/-->
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<header th:insert="header.html">
</header>


    <div class="container">
        <div class="d-flex row justify-content-center">
            <div class="col-md-4">
                <form action="#" th:action="@{/signin/}" method="post">
                    <table>
                        <tr>
                    <div class="md-form">
                    <label for="user-name">Username</label>
                    <input type="text" id="user-name" class="form-control" name="username">
                    </div>
                    </tr>
                    <tr>
                        <div class="md-form">
                        <label for="password">Password</label>
                        <input type="password" id="password" class="form-control" name="password">
                        </div>
                    </tr>
                    <br>
                    <tr>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>

<footer th:insert="footer.html" class="mt-5"></footer>

<!--<c:if test="${not empty msg}">
    <span style="color:green"><c:out value="${msg}"/></span>
    <c:remove var="msg" scope="session" />
</c:if> -->
</body>
</html>