<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org/extras/dialect"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Panel główny</title>
</head>
<body>
<p>Panel użytkownika <span th:text="${#authentication.getName()}"></span></p>

<div>
    <a th:href="@{/edit}">Edytuj dane</a><br>
    <a th:href="@{/logout}">Wyloguj</a><br>
</div>
<div sec:authorize="hasRole('ROLE_USER')">
    <a th:href="@{/client/cars}">Twoje pojazdy</a><br>
    <a th:href="@{/client/repairs}">Historia napraw</a><br>
</div>
<div sec:authorize="hasRole('ROLE_EMPLOYEE')">
    <a th:href="@{/emp/cars}">Pojazdy</a><br>
    <a th:href="@{/emp/repairs}">Twoje naprawy</a><br>
</div>
    <div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_EMPLOYEE')">
    <a th:href="@{/car/acceptance/add}">Dodaj formularz przyjęcia pojazdu</a><br>
    <a th:href="@{/car/acceptance/all}">Przeglądaj formularze</a><br>
</div>
<div sec:authorize="hasRole('ROLE_ADMIN')">
        <a th:href="@{/admin/user}">Lista użytkowników</a><br>
        <a th:href="@{/admin/user/add}">Dodaj użytkownika</a><br>
        <a th:href="@{/admin/car}">Lista pojazdów</a><br>
        <a th:href="@{/admin/car/add}">Dodaj pojazd</a><br>
</div>
</body>
</html>