<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org/extras/dialect"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Panel główny</title>
</head>
<body>
<p>Panel użytkownika <span th:text="${#authentication.getName()}"></span></p>

<div>
    <a th:href="@{/edit}">Edytuj dane</a>
    <a th:href="@{/logout}">Wyloguj</a>
</div>
<div sec:authorize="hasRole('ROLE_USER')">
    <a th:href="@{/user/cars}">Twoje pojazdy</a>
    <a th:href="@{/user/repairs}">Historia napraw</a>
</div>
<div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_EMPLOYEE')">
    <a th:href="@{/emp/cars}">Pojazdy</a>
    <a th:href="@{/emp/repairs}">Twoje naprawy</a>
    <a th:href="@{/car/acceptance/add}">Dodaj formularz przyjęcia pojazdu</a>
    <a th:href="@{/car/acceptance/all}">Przeglądaj formularze</a>
</div>
<div sec:authorize="hasRole('ROLE_ADMIN')">
        <a th:href="/admin/user">Lista użytkowników</a>
        <a th:href="/admin/user/add">Dodaj użytkownika</a>
        <a th:href="/admin/car">Lista pojazdów</a>
        <a th:href="/admin/car/add">Dodaj pojazd</a>
</div>
</body>
</html>